In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/aviakompaniya/sample_submission.csv
/kaggle/input/aviakompaniya/train_dataset.csv
/kaggle/input/aviakompaniya/test_dataset.csv

In [35]:
from sklearn.model_selection import train_test_split


from sklearn.preprocessing import LabelEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn import metrics

In [3]:
train_df = pd.read_csv("/kaggle/input/aviakompaniya/train_dataset.csv")
train_df.head()

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,1,Male,disloyal Customer,33,Business travel,Eco,571,2,3,2,...,4,3,1,3,4,3,4,10,3.0,0
1,2,Female,Loyal Customer,49,Business travel,Business,1431,4,1,4,...,5,5,5,5,3,5,3,0,0.0,1
2,3,Female,Loyal Customer,43,Business travel,Eco,867,1,4,4,...,1,1,1,1,1,1,2,0,18.0,0
3,4,Female,Loyal Customer,27,Business travel,Business,1550,3,3,3,...,2,4,4,5,5,4,2,0,0.0,1
4,5,Male,Loyal Customer,11,Personal Travel,Eco,526,3,4,3,...,4,5,2,5,3,5,4,0,10.0,0

In [4]:
test_df = pd.read_csv("/kaggle/input/aviakompaniya/test_dataset.csv") 
sample_df = pd.read_csv("/kaggle/input/aviakompaniya/sample_submission.csv")

In [5]:
train_df.describe()

,id,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,9972.000000,10000.000000
mean,5000.50000,39.375100,1229.556200,2.780200,3.065100,2.797800,2.981000,3.214500,3.349100,3.49140,3.402900,3.454100,3.415700,3.676200,3.360600,3.680100,3.311100,14.429900,14.709888,0.500000
std,2886.89568,14.897959,1022.281958,1.362745,1.527316,1.421168,1.283278,1.333217,1.352779,1.31122,1.331822,1.274777,1.308765,1.189746,1.258462,1.175118,1.311217,39.659674,40.046355,0.500025
min,1.00000,7.000000,31.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.00000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,2500.75000,27.000000,421.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.00000,2.000000,3.000000,2.000000,3.000000,3.000000,3.000000,2.000000,0.000000,0.000000,0.000000
50%,5000.50000,40.000000,863.500000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.00000,4.000000,4.000000,4.000000,4.000000,3.000000,4.000000,3.000000,0.000000,0.000000,0.500000
75%,7500.25000,51.000000,1806.750000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.00000,5.000000,4.000000,5.000000,5.000000,4.000000,5.000000,4.000000,12.000000,12.000000,1.000000
max,10000.00000,80.000000,4983.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.00000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,921.000000,924.000000,1.000000

In [6]:
train_df.isnull().sum()

id                                    0
Gender                                0
Customer Type                         0
Age                                   0
Type of Travel                        0
Class                                 0
Flight Distance                       0
Inflight wifi service                 0
Departure/Arrival time convenient     0
Ease of Online booking                0
Gate location                         0
Food and drink                        0
Online boarding                       0
Seat comfort                          0
Inflight entertainment                0
On-board service                      0
Leg room service                      0
Baggage handling                      0
Checkin service                       0
Inflight service                      0
Cleanliness                           0
Departure Delay in Minutes            0
Arrival Delay in Minutes             28
satisfaction                          0
dtype: int64

In [7]:
train_df.duplicated().sum()

0

In [9]:
train_df['Arrival Delay in Minutes'].fillna(train_df['Arrival Delay in Minutes'].mean(), inplace=True)

In [10]:
train_df.isnull().sum()

id                                   0
Gender                               0
Customer Type                        0
Age                                  0
Type of Travel                       0
Class                                0
Flight Distance                      0
Inflight wifi service                0
Departure/Arrival time convenient    0
Ease of Online booking               0
Gate location                        0
Food and drink                       0
Online boarding                      0
Seat comfort                         0
Inflight entertainment               0
On-board service                     0
Leg room service                     0
Baggage handling                     0
Checkin service                      0
Inflight service                     0
Cleanliness                          0
Departure Delay in Minutes           0
Arrival Delay in Minutes             0
satisfaction                         0
dtype: int64

In [11]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 24 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   id                                 10000 non-null  int64
 1   Gender                             10000 non-null  object
 2   Customer Type                      10000 non-null  object
 3   Age                                10000 non-null  int64
 4   Type of Travel                     10000 non-null  object
 5   Class                              10000 non-null  object
 6   Flight Distance                    10000 non-null  int64
 7   Inflight wifi service              10000 non-null  int64
 8   Departure/Arrival time convenient  10000 non-null  int64
 9   Ease of Online booking             10000 non-null  int64
 10  Gate location                      10000 non-null  int64
 11  Food and drink                     10000 non-null  int64
 12  Online boarding                    10000 non-null  int64
 13  Seat comfort                       10000 non-null  int64
 14  Inflight entertainment             10000 non-null  int64
 15  On-board service                   10000 non-null  int64
 16  Leg room service                   10000 non-null  int64
 17  Baggage handling                   10000 non-null  int64
 18  Checkin service                    10000 non-null  int64
 19  Inflight service                   10000 non-null  int64
 20  Cleanliness                        10000 non-null  int64
 21  Departure Delay in Minutes         10000 non-null  int64
 22  Arrival Delay in Minutes           10000 non-null  float64
 23  satisfaction                       10000 non-null  int64
dtypes: float64(1), int64(19), object(4)
memory usage: 1.8+ MB

In [12]:
test_df.isnull().sum()

id                                    0
Gender                                0
Customer Type                         0
Age                                   0
Type of Travel                        0
Class                                 0
Flight Distance                       0
Inflight wifi service                 0
Departure/Arrival time convenient     0
Ease of Online booking                0
Gate location                         0
Food and drink                        0
Online boarding                       0
Seat comfort                          0
Inflight entertainment                0
On-board service                      0
Leg room service                      0
Baggage handling                      0
Checkin service                       0
Inflight service                      0
Cleanliness                           0
Departure Delay in Minutes            0
Arrival Delay in Minutes             19
dtype: int64

In [13]:
test_df['Arrival Delay in Minutes'].fillna(test_df['Arrival Delay in Minutes'].mean(),inplace=True)

In [14]:
test_df.isnull().sum()

id                                   0
Gender                               0
Customer Type                        0
Age                                  0
Type of Travel                       0
Class                                0
Flight Distance                      0
Inflight wifi service                0
Departure/Arrival time convenient    0
Ease of Online booking               0
Gate location                        0
Food and drink                       0
Online boarding                      0
Seat comfort                         0
Inflight entertainment               0
On-board service                     0
Leg room service                     0
Baggage handling                     0
Checkin service                      0
Inflight service                     0
Cleanliness                          0
Departure Delay in Minutes           0
Arrival Delay in Minutes             0
dtype: int64

In [15]:
encoding = LabelEncoder()
def encoder(df):
    df['Customer Type'] = encoding.fit_transform(df['Customer Type'].values)
    df['Type of Travel'] = encoding.fit_transform(df['Type of Travel'].values)
    df['Class'] = encoding.fit_transform(df['Class'].values)
    df['Gender'] = encoding.fit_transform(df['Gender'].values)

    return df

In [16]:
df_train = encoder(train_df)
df_test = encoder(test_df)

In [17]:
df_train.head()

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,1,1,1,33,0,1,571,2,3,2,...,4,3,1,3,4,3,4,10,3.0,0
1,2,0,0,49,0,0,1431,4,1,4,...,5,5,5,5,3,5,3,0,0.0,1
2,3,0,0,43,0,1,867,1,4,4,...,1,1,1,1,1,1,2,0,18.0,0
3,4,0,0,27,0,0,1550,3,3,3,...,2,4,4,5,5,4,2,0,0.0,1
4,5,1,0,11,1,1,526,3,4,3,...,4,5,2,5,3,5,4,0,10.0,0

In [18]:
df_train.corrwith(df_train['satisfaction']).abs().sort_values(ascending=False)

satisfaction                         1.000000
Online boarding                      0.504986
Type of Travel                       0.482266
Class                                0.463430
Inflight entertainment               0.400900
Seat comfort                         0.342294
On-board service                     0.326426
Leg room service                     0.324368
Cleanliness                          0.310338
Flight Distance                      0.298703
Inflight wifi service                0.277395
Baggage handling                     0.247965
Inflight service                     0.240584
Checkin service                      0.232359
Food and drink                       0.207854
Customer Type                        0.181592
Ease of Online booking               0.164662
Age                                  0.144302
Departure/Arrival time convenient    0.067638
Arrival Delay in Minutes             0.048582
Departure Delay in Minutes           0.042960
Gate location                        0.007169
id                                   0.002931
Gender                               0.002601
dtype: float64

In [19]:
X = df_train.drop("satisfaction" ,axis=1)
y = df_train['satisfaction']

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=42)

In [21]:
from sklearn.linear_model import LogisticRegression
lmodel = LogisticRegression(solver='saga', max_iter=1000)


lmodel.fit(X_train, y_train)

predict_test = lmodel.predict(X_test)
print("Model accuracy:", metrics.accuracy_score(y_test,predict_test))

Model accuracy: 0.6375

/opt/conda/lib/python3.10/site-packages/sklearn/linear_model/_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

In [22]:
from sklearn.tree import DecisionTreeClassifier
dtmodel = DecisionTreeClassifier()
dtmodel.fit(X_train, y_train)

predict_test = dtmodel.predict(X_test)
print("Model accuracy:", metrics.accuracy_score(y_test,predict_test))

Model accuracy: 0.922

In [24]:
from sklearn.ensemble import RandomForestClassifier
rfmodel = RandomForestClassifier()

rfmodel.fit(X_train, y_train)
predict_test = rfmodel.predict(X_test)
print("Model accuracy:", metrics.accuracy_score(y_test,predict_test))

Model accuracy: 0.947

In [26]:
from sklearn.svm import SVC
svcmodel = SVC()

svcmodel.fit(X_train, y_train)
predict_test = svcmodel.predict(X_test)
print("Model accuracy:", metrics.accuracy_score(y_test,predict_test))

Model accuracy: 0.652

In [27]:
from sklearn.neighbors import KNeighborsClassifier
knnmodel = KNeighborsClassifier()

knnmodel.fit(X_train, y_train)
predict_test = knnmodel.predict(X_test)
print("Model accuracy:", metrics.accuracy_score(y_test,predict_test))

Model accuracy: 0.578

In [28]:
from sklearn.naive_bayes import GaussianNB
gmodel = GaussianNB()

gmodel.fit(X_train, y_train)
predict_test = gmodel.predict(X_test)
print("Model accuracy:", metrics.accuracy_score(y_test,predict_test))

Model accuracy: 0.859

In [29]:
from sklearn.neural_network import MLPClassifier
mlpmodel = MLPClassifier()

mlpmodel.fit(X_train, y_train)
predict_test = mlpmodel.predict(X_test)
print("Model accuracy:", metrics.accuracy_score(y_test,predict_test))

Model accuracy: 0.841

In [30]:
test_predict = rfmodel.predict(test_df)

In [33]:
sample_df['satisfaction'] = test_predict
sample_df.head(10)

   id  satisfaction
0   1             0
1   2             1
2   3             1
3   4             1
4   5             0
5   6             0
6   7             0
7   8             1
8   9             0
9  10             0

In [34]:
sample_df.to_csv('submission_csv', index=False)